<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>CFBundleIconFile</key>
  <string>bitcoin.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleGetInfoString</key>
  <string>$VERSION, Copyright © 2013-$YEAR The NeosCoin developers</string>
  <key>CFBundleShortVersionString</key>
  <string>$VERSION</string>
  <key>CFBundleVersion</key>
  <string>$VERSION</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleExecutable</key>
  <string>NeosCoin-Qt</string>
  <key>CFBundleIdentifier</key>
  <string>com.neoscoin.NeosCoin-Qt</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>com.neoscoin.NeosCoinPayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>neoscoin</string>
      </array>
    </dict>
  </array>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.neoscoin.paymentrequest</string>
      <key>UTTypeDescription</key>
      <string>NeosCoin payment request</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.mime-type</key>
        <string>application/x-neoscoin-payment-request</string>
        <key>public.filename-extension</key>
        <array>
          <string>neoscoinpaymentrequest</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.neoscoin.paymentrequest</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSAppNapIsDisabled</key>
  <string>True</string>
</dict>
</plist>
